* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  height: 100vh;
  background: linear-gradient(white, slategrey);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background;
  transition-duration: 0.5s;

}

#page-container {
  height: 100vh;
  width: 70%;
  display: grid;
  grid-template:
  "nav" 1fr
  "carousel" 4fr;
  animation: smooth 0.5s ease-in;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

nav > a {
  font-size: 1.5rem;
  text-decoration: none;
}
nav > a:visited {
  color: inherit;
}

main {
  grid-area: carousel;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

h1 {
  font-size: 7rem;
  transition-property: color;
  transition-duration: 0.0s;
}

h1 > span {
  color: aqua;
  text-shadow: 0 0 1px slategrey;
  transition-property: color;
  transition-duration: 0.5s;
}

p {
  font-size: 2rem;
  text-align: center;
}

button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

body.dark {
background: black;
color: slategrey;
transition-property: background;
transition-duration: 0.5s;
}

#prev.dark,
#next.dark {
  color: slategrey;
  transition-property: color;
  transition-duration: 0.5s;
}

.spanDark {
  color: magenta;
  transition-property: color;
  transition-duration: 0.5s;
}

@keyframes smooth {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
